.ask-question-section {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
}
.ask-question-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.search-input{
    width: 100%;
    border-color: #007bff;
}
