.profile-img{
    border-radius: 30px;
}
.profile-data{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.top-h-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.answers-count-container{
    display: flex;
    align-items: center;
}